<main>

<h1>Pictures</h1>

<p class="new-pic"><%= link_to 'New Picture', new_picture_path %></p>

<% if @most_recent.count > 0 %>

  <div class="most-recent">

    <h2 class="float-clear">Most Recent Pictures</h2><br>

    <% @most_recent.each do |picture| %>
      <div class="photo">
        <p><%= picture.title %>, <%= picture.artist %></p>
        <%= link_to image_tag(picture.url), picture_path(picture.id) %>
      </div>
    <% end %>

  <div>

<% end %>

<% if @a_month_old.count > 0 %>

  </div class="float-clear month-ago">

    <h2 class="float-clear">A month ago...</h2><br>

    <% @a_month_old.each do |picture| %>
      <div class="photo">
        <p><%= picture.title %>, <%= picture.artist %></p>
        <%= link_to image_tag(picture.url), picture_path(picture.id) %>
      </div>
    <% end %>

  </div>

<% end %>

<% if @pics_from_2017.count > 0 %>

  <div class="float-clear pics-2017">

    <h2 class="float-clear">Pictures from 2017</h2>

    <% @pics_from_2017.each do |picture| %>
      <div class="photo">
        <p><%= picture.title %>, <%= picture.artist %></p>
        <%= link_to image_tag(picture.url), picture_path(picture.id) %>
      </div>

    <% end %>

  </div>

<% end %>

<% if @pics_from_2016.count > 0 %>

  <div class="float-clear pics-2016">

    <h2 class="float-clear">Pictures from 2016</h2>
    <% @pics_from_2016.each do |picture| %>
      <div class="photo">
        <p><%= picture.title %>, <%= picture.artist %></p>
        <%= link_to image_tag(picture.url), picture_path(picture.id) %>
      </div>
    <% end %>

  </div>

<% end %>

<% if @pics_from_2015.count > 0 %>

  <div class="float-clear pics-2015">

    <h2 class="float-clear">Pictures from 2015</h2>
    <% @pics_from_2015.each do |picture| %>
      <div class="photo">
        <p><%= picture.title %>, <%= picture.artist %></p>
        <%= link_to image_tag(picture.url), picture_path(picture.id) %>
      </div>
    <% end %>

  </div>

<% end %>

<% if @pics_from_2014.count > 0 %>

  <div class="float-clear pics-2014">

    <h2 class="float-clear">Pictures from 2014</h2>
    <% @pics_from_2014.each do |picture| %>
      <div class="photo">
        <p><%= picture.title %>, <%= picture.artist %></p>
        <%= link_to image_tag(picture.url), picture_path(picture.id) %>
      </div>
    <% end %>

  </div>

<% end %>

</main>
