<!DOCTYPE html>
<html>
<head>
  <title>Photogur</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Lora|Raleway|Roboto+Condensed" rel="stylesheet">
</head>
<body>
  <header>
    <div class="left main-head">
      <h1>Photogur</h1>
      <p>becuase pictures are awesome!</p>
    </div>
    <div class="right main-head log-in">
    <p class="userinfo">
      <% if current_user %>
        Signed in as <%= current_user.email %>. <%= link_to "Log out", session_path("current"), :method => :delete %>
      <% else %>
        <%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
      <% end %>
    </p>
  </div>
  </header>

  <%= yield %>

  <footer>
    <table>
      <td><p class="copy">&copy; <a href="http://www.maryfranks.me" class="copyright">Mary Franks</a> 2017</p></td>

      <td><p><a href="https://github.com/maryfranks/photogur" class="icon"><%= image_tag "github.png" %></a></p></td>
      <td><p><a href="https://www.linkedin.com/in/maryfranks/" class="icon"><%= image_tag "linkedin.png" %></a></p></td>
    </table>
  </footer>
</body>
</html>
